h4 {
    margin: 0;
    padding: 10px 0px 20px 0px;
    word-wrap: break-word;
    margin-left: 10px;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

li {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 10px;
    font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.item {
    margin: 30px;
}

.flag {
    width: 270px;
    height: 175px;
    padding: 10px;
    vertical-align: middle;
    border: 2px solid #005892;
    border-bottom: transparent;
    border-radius: 5px 5px 0px 0px;
}

.card {
  
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #005892;
    border-top: transparent;
}