:root {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.countries-list {
    display: flex;
    flex-direction: column;
}

.countries-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.countries-list__title {
    margin: 0;
    padding: 10px 0px 20px 0px;
    word-wrap: break-word;
    margin-left: 10px;
    font-size: 14px;
}

.countries-list__unordered-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.countries-list__ordered-list {
    padding-bottom: 15px;
    margin-left: 10px;
    font-size: 14px;
}

.countries-list__item {
    margin: 30px;
}

.countries-list__card {
    border-radius: 0px 0px 5px 5px;
    border: 2px solid transparent;
    border-top: transparent;
}

.countries-list__flag {
    width: 270px;
    height: 175px;
    border: 1px solid black;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 5px 5px 0px 0px;
}

.countries-list__scroll-button {
    border:none;
    background-color:transparent;
    outline:none;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.countries-list__scroll-button-icon {
    cursor: pointer;
}

.header-component {
    display: flex;
}

.header-component__title {
    margin-left: 20px;
}

.header-component__icons {
    margin-left: auto;
}

.header-component__icons__theme-icon {
    margin-top: 13px;
    margin-right: 20px;
    cursor: pointer;
}

.search {
    display: flex;
    height: '100vh';
    min-height: '100vh';
}

.search__search-bar {
    border-color: transparent;
    color: #ffffff;
    resize: none;
    outline: none;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 133px;
    margin-top: 30px;
}

.search__dropdown {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 133px;
    width: 250px;
}

.country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.country__flag {
    width: 100%;
}

.country__information__item{
    font-weight: normal;
}

.country__information__button {
    padding: 10px 20px 10px 20px;
    border: 1px solid transparent;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .search {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .search__search-bar {
        margin-left: 0px;
    }
    .search__dropdown {
        margin-right: 0px;
        margin-left: 0px;
    }
}